:root {
    
 --clr-One: #00bbf9;
 --clr-Two: #9b5de5;
 --clr-Three: #80ffdb;
 --clr-complement1: #00f5d4;
 --clr-complement2: #f15bb5;
 --clr-complement3: #fee440; 
 --Clr-White: #ffffff;
 --clr-Black: #000000;

 --font-size-small: 12px; 
 --font-size-medium: 16px; 
 --font-size-tall: 18px; 
 --font-size-Title: 2.4rem; 
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    object-fit: cover;
}
body {
    font-family: 'Rubik', sans-serif;
}

.header {
    width: 100%;
    height: 6rem;
}
.navBar {
    width: 100%;
    height: 6rem;
    background-color: var(--clr-Black);
    padding: 0.5rem calc((100vw - 1200px / 2));
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBar__logo {
    text-decoration: none;
    padding-left: 1rem;
    font-size: var(--font-size-medium);
    color: var(--Clr-White);
    text-transform: uppercase;
    font-weight: bold;
}
.navBar__link {
    color: var(--Clr-White);
    text-decoration: none;
    padding: 8rem 1rem;
    font-size: var(--font-size-small);
}
.navBar__link:hover {
    color: var(--clr-complement1);
}

      /* ====Hero Section==== */
.hero {
    background:linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../assets/img/bruce-mars-pFyKRmDiWEA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0.5rem calc((100vw - 1200px) / 2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}