:root {
    
 --clr-One: #00bbf9;
 --clr-Two: #9b5de5;
 --clr-Three: #80ffdb;
 --clr-complement1: #00f5d4;
 --clr-complement2: #f15bb5;
 --clr-complement3: #fee440; 
 --Clr-White: #ffffff;
 --clr-Black: #000000;

 --font-size-small: 12px; 
 --font-size-medium: 16px; 
 --font-size-tall: 18px; 
 --font-size-Title: 2.4rem; 
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    object-fit: cover;
}
body {
    font-family: 'Rubik', sans-serif;
}

.header {
    width: 100%;
    height: 6rem;
}
.navBar {
    width: 100%;
    height: 6rem;
    background-color: var(--clr-Black);
    padding: 0.5rem calc((100vw - 1200px / 2));
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBar__logo {
    text-decoration: none;
    padding-left: 1rem;
    font-size: var(--font-size-medium);
    color: var(--clr-One);
    text-transform: uppercase;
    font-weight: bold;
}
.navBar__link {
    color: var(--Clr-White);
    text-decoration: none;
    padding: 8rem 1rem;
    font-size: var(--font-size-small);
}
.navBar__link:hover {
    color: var(--clr-One);
}

      /* ====Hero Section==== */
.hero {
    background:linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../assets/img/bruce-mars-pFyKRmDiWEA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0.5rem calc((100vw - 1200px) / 2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.hero__content {
color: var(--Clr-White);
padding: 3rem 1rem ;
line-height: 1;
}
.hero__content h1 {
    font-size: clamp(3rem, 8vw, 7rem);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    color: var(--clr-Two);
    font-weight: bold;
}
.hero__content p {
    font-size: clamp(1rem, 4vw, 2.5rem);
    margin-bottom: 3rem;
}
.button {
    padding: 1rem 3rem;
    border: none;
    background-color: var(--clr-Two);
    color: var(--Clr-White);
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease;
    text-decoration: none;
    border-radius: .4rem;
}
.button:hover {
   background-color: var(--clr-complement1); 
}

   /*  ==== Service Section ====*/
   .services {
       padding: 8rem calc((100vw - 1200px) / 2);
   }
   .service__container {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       padding: 1rem;
   }
   .services__img {
       width: 100%;
       height: 100%;
   }
   .topLine {
       color: var(--clr-complement1);
       text-transform: uppercase;
       font-weight: bold;
       margin-bottom: 0.5rem;
   }
   .service__Heading {
       margin-bottom: 1rem;
       font-size: clamp(2rem, 6vw, 3rem);
       color: var(--clr-Two);
   }
   .services__features {
       list-style: none;
   }
   .services__feature {
       margin-bottom: 1.6rem;
       font-size: clamp(1rem, 5vw, 1.2rem);
   }
   .fa-check-circle {
       margin-right: 0.5rem;
       color: var(--clr-Two);
   }
   @media screen and (max-width: 768px) {
    .service__container {
        grid-template-columns: 1fr;
      }
     
   }

    /* ===== Membership--section ===== */

    .membership {
        background-color: var(--clr-Black);
        color: var(--clr-Two);
        padding: 6rem calc((100vw - 1100px) / 2);
        text-align: center;
    }
    .membership h1 {
        margin-bottom: 1rem;
        font-size: clamp(2rem, 5vw, 3rem);
        padding: 0 1rem;
    }
    .membership__desc {
        margin-bottom: 3rem;
        font-size: clamp(1rem, 3vw, 1.5rem);
        padding: 1rem;
        color: var(--clr-complement1);
    }
    .membership__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1rem;
    }
    .membership__card {
        padding: 2rem;
        min-height: 450px;
        width: 375px;
        background-color: var(--Clr-White);
        color: var(--clr-Two);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 1rem;
    }
    .membership__perks {
        min-height: 150px;
    }
    .membership__perks p {
        color: var(--clr-Black);
        margin-bottom: 1rem; ;
        font-size: 1.8rem;
        font-weight: bold;
    }
    .card-icon {
        font-size: 3rem;
        margin-bottom: 2rem;
        color: var(--clr-complement1);
    }
    .membership__card h3 {
        margin-bottom: 2rem;
    }

    @media screen and (max-width: 1100px) {
        .membership__wrapper {
            flex-direction: column;
            align-items: center;
        }
        .membership__card {
            width: 50%;
            margin-bottom: 2rem;
        }
        .button {
            padding: 2rem 3rem;
            font-size: 1.4rem;
        }
        .membership__perks p {
            font-size: 1.6rem;
            font-weight: bold;
        }
    }

              /*   ===== TEAM--SECTION ===== */
        .team {
        padding: 8rem calc((100vw - 1100px) / 2);
        }
        .team__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /*  grid-template-rows: repeat(auto, 350px); */
        /*   grid-template-rows: repeat(5, 350px); */
        grid-template-rows: 150px 350px 350px 350px 150px;
        }
        .team__card {
            margin: 1rem;
            border-radius: 1rem;
            position: relative;
        }
        .text__text {
        padding: 1rem;
        }
        .text__text h1 {
        margin-bottom: 1rem;
        font-size: 3rem;
        color: var(--clr-Two);
        }
        .team__desc {
            font-size: clamp(1rem, 3vw, 1.3rem);
            line-height: 1.4;
        }
        .team__card p {
            position: absolute;
            bottom: 3rem;
            color: var(--clr-complement1);
            left: 2.5rem;
            font-size: 3rem;
        }
        .team__card img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 1rem;
        }
        
        .text__text:nth-child(1) {
            grid-row: 1 / 3;
            grid-column: 2 / 3;
            text-align: center;
            }
            .text__text:nth-child(2) {
                grid-row: 5 / 6;
                grid-column: 1 / 2;
                text-align: center;
                align-self: center;
                justify-self: center;
            }
            .team__card:nth-child(3) {
                grid-row: 1 / 3;
                grid-column: 1 / 2;
            }
            .team__card:nth-child(4) {
                grid-row: 2 / 4;
                grid-column: 2 / 3;
            }
            .team__card:nth-child(5) {
                grid-row: 3 / 5;
                grid-column: 1 / 2;
            }
            .team__card:nth-child(6) {
                grid-row: 4 / 6;
                grid-column: 2 / 3;
            }

        @media screen and (max-width: 768px) {
            .team__wrapper {
                grid-template-columns: 1fr;
                grid-template-rows: 150px 350px 350px 350px 350px 150px;

            }
            .team__card img {
            width: 100%;
            height: 100%;
             object-fit: cover;
             background-position: center;
             background-size: cover;
             background-repeat: no-repeat;
            }
            .text__text:nth-child(1) {
                grid-row: 1 / 2;
                grid-column: 1 / 2;
                text-align: center;
             /*    background-color: var(--clr-Black);  */
                }
                .text__text:nth-child(2) {
                    grid-row: 6 / 7;
                    grid-column: 1 / 2;
                    text-align: center;
                    align-self: center;
                    justify-self: center;
                }
                .team__card:nth-child(3) {
                    grid-row: 4 / 5;
                    grid-column: 1 / 2;
                }
                .team__card:nth-child(4) {
                    grid-row: 3 / 4;
                    grid-column: 1 / 2;
                }
                .team__card:nth-child(5) {
                    grid-row: 5 / 6;
                    grid-column: 1 / 2;
                }
                .team__card:nth-child(6) {
                    grid-row: 2 / 3;
                    grid-column: 1 / 2;
                }
        }
            /*   ====== EMAIL--SECTION =====*/